.navBar {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0px 0px 1px black;
    padding: 1rem;
    padding-left: 4rem;
    margin-top: 2px;
}

.navItems {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin-right: 4rem;
}

.navItem>a {
    text-decoration: none;
    color: black;
}

.navItem>a:hover {
    color: blue;
}