.profile{
    display: flex;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #D9D9D9;
    height: 580px;
}
img{
    height: 300px;
    width: 300px;
    margin-top: 160px;
    margin-right: 40px;
    border-radius: 20%;
}
.content{
    margin-right: 150px;
    margin-left: 40px;
    margin-top: 140px;
    
}
p{
    font-size: 1rem;
    font-weight: lighter;
    margin-top: -10px;
    
}
h2{
    font-size: 5rem;
}